/* General */
* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #fafafa;
    margin: 0;
}

.fas {
    margin-right: 5px;
}

.content {
    width: 90%;
    margin: auto;
}

@media all and (max-width: 992px) {
    .content {
        width: 95%;
    }
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0078d4;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.header .branding {
    display: flex;
    align-items: center;
}

.header .branding img {
    height: 25px;
    margin-right: 10px;
}

.header .branding span {
    font-weight: bold;
}

.header .large-screen-search {
    width: 30%;
    display: flex;
}

.header .large-screen-search input {
    flex-grow: 2;
    color: #dddddd;
    background-color: #005291;
    border: none;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header .large-screen-search input:focus {
    outline: none;
}

.header .large-screen-search button {
    color: #dddddd;
    background-color: #0166b3;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header .large-screen-search button:hover {
    cursor: pointer;
    background-color: #005fa8;
}

.header .large-screen-search button:active {
    cursor: pointer;
    background-color: #005ba1;
}

.header .actions button {
    width: 100px;
    border: 1px solid #ffa300;
    background-color: transparent;
    color: #ffa300;
    border-radius: 5px;
    padding: 5px 15px;
}

.header .actions button:hover {
    color: #0078d4;
    background-color: #ffa300;
    cursor: pointer;
}

.header .actions button:active {
    background-color: #f19900;
}

@media all and (max-width: 768px) {
    .header .large-screen-search {
        display: none;
    }

    .header .small-screen-search {
        display: initial;
    }
}

@media all and (min-width: 768px) {
    .header .small-screen-search {
        display: none;
    }
}

/* Toolbar */
.toolbar {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.toolbar button {
    border: none;
    background-color: #ffce00;
    color: #ffffff;
    padding: 10px 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.toolbar button:hover {
    cursor: pointer;
    background-color: #f1c100;
}

.toolbar button:active {
    background-color: #eebe00;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 5px;
    grid-auto-flow: dense;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide {
    grid-column: auto / span 2;
}

.tall {
    grid-row: auto / span 2;
}

.wider {
    grid-column: auto / span 4;
}

.taller {
    grid-row: auto / span 4;
}

.gallery-item .overlay {
    background-image: linear-gradient(to bottom, rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.8));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.gallery-item .overlay:hover {
    opacity: 1;
}

@media all and (min-width: 576px) and (max-width: 992px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (max-width: 576px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .wider {
        grid-column: auto / span 2;
    }

    .taller {
        grid-row: auto / span 2;
    }
}

5:52
14.05